{
  "extends": [
    "next",
    "prettier",
    "eslint:recommended"
  ],
  "rules": {
    // "prettier/prettier": "warn",
    // "semi": ["warn", "always"],
    // "quotes": ["warn", "double"]
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off"
  }
}
