@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@font-face {
    font-family: "Junicode";
    src: url(../../public/junicode/Junicode-RegularCondensed.ttf)format("opentype");
}
@font-face {
    font-family: "Pressura";
    src: url(../../public/GT-Pressura/GT-Pressura-Light.ttf)format("opentype");
}
@font-face {
    font-family: "Pressura-bold";
    src: url(../../public/GT-Pressura/GT-Pressura-Bold.ttf)format("opentype");
}
@font-face {
    font-family: "Pressura-regular";
    src: url(../../public/GT-Pressura/GT-Pressura-Regular.ttf)format("opentype");
}
@font-face {
    font-family: "Pressura-mono";
    src: url(../../public/GT-Pressura/GT-Pressura-Mono-Regular.ttf)format("opentype");
}

//couleurs
$main-red: #eb1615;
$main-grey: #e6e7e8;

//fonts
$fact-font: "Junicode", sans-serif;
$font-titles: "Pressura", sans-serif;
$font-titles-bold: "Pressura-bold", sans-serif;
$font-titles-regular: "Pressura-regular", sans-serif;
$font-titles-mono: "Pressura-mono", sans-serif;

// paragraphs styles
$indent: 3rem;

* {
    cursor: none !important;
}

html,
body {
    font-family: $font-titles;
    background-color: $main-grey;
    margin: 0;
}

a {
    text-decoration: none;
}
.uk-link,
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.3;
}

h1 {
    font-family: $font-titles;
}

#category {
    font-family: $fact-font;
    font-weight: 500;
}

#title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
}

#banner {
    margin: 20px;
    height: 800px;
}

#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

//NAVBAR
.head-logo {
    z-index: 910;
    display: flex;
    justify-content: center;
    width: 33rem;
    margin: 3vh auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.navbar {
    position: fixed;
    display: -moz-box;
    width: 100%;
    height: 13rem;
    z-index: 900;
    top: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
    .navRow {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
    }
    // button {
    //     text-decoration: none;
    //     border: none;
    //     color: #eb1615;
    //     background: none;
    //     font-size: 1rem;
    //     &:hover {
    //         text-decoration: underline !important;
    //         color: $main-red !important;
    //     }
    // }
}
.menu {
    position: relative;
    width: max-content;
    box-sizing: border-box;
    z-index: 990;
    margin: auto;
    margin-top: 2vh;
    color: $main-red;
    padding-left: 0;
    li {
        display: inline-block;
        padding: 0 1.7vw 0 1.7vw;
        text-transform: capitalize;
        a {
            color: $main-red;
            text-transform: capitalize;
            min-height: 0;
            font-family: $font-titles;
            &:hover {
                text-decoration: none;
                color: $main-red !important;
            }
        }
    }
}
.breadcrumb {
    display: none;
}
header {
    display: none;
}
.sous-menu {
    position: fixed;
    top: 12.3rem;
    padding-left: 0;
    left: 40%;
    z-index: 10000;
    li {
        text-decoration: none;
        display: inline-block;
        padding: 1vh 1vw;
        a {
            color: $main-red;
            text-transform: capitalize;
        }
    }
}

//HOMEPAGE
.container {
    max-width: 100%;
    height: auto;
    margin-top: 17rem;
    padding-bottom: 15vh;
    .row {
        display: flex;
        flex-direction: row;
    }
}

//Actu
.bloc-actu {
    .row {
        display: flex;
        justify-content: center;
        margin-bottom: 8vh;
        .widget {
            min-width: 15vw;
            padding-right: 3vw;
            color: $main-red;
            text-align: end;
            p {
                margin-top: 0.3vh;
                margin-bottom: 0;
            }
            .date {
                font-family: $fact-font;
                font-size: 1.8rem;
                margin-top: 0;
                text-align: end;
            }
        }
        .col {
            max-width: 40vw;
            .imgActu {
                width: 40vw;
                border-width: 3px;
                border-style: solid;
                border-color: $main-red;
            }
            .titre {
                color: $main-red;
                font-family: $font-titles-bold;
                font-size: 2rem;
                text-transform: uppercase;
                margin-top: 2vh;
                margin-bottom: 2vh;
                &:hover {
                    color: #ffffff;
                }
            }
            .subtitle {
                color: $main-red;
                font-family: $font-titles;
                margin-top: 1vh;
                margin-bottom: 2vh;
                line-height: 1;
            }
            .content-css {
                .uk-link,
                a,
                .my-anchor-css-class {
                    color: #eb1615;
                }
            }
            .textArticle {
                text-indent: $indent;
                text-align: justify;
            }
        }
    }
}
//read more custom
.LNroN {
    width: 20px !important;
    height: 20px !important;
}
.heKCPX {
    width: 20px !important;
    height: 20px !important;
}
.cgQmrj {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, #000, #d3d2d29e) !important;
    max-height: 300px !important;
    margin: 0;
}
.gERFfz {
    background-image: linear-gradient(to bottom, #000, #d3d2d29e) !important;
}

//membres
.quote {
    max-width: 70vw;
    color: $main-red;
    font-family: $font-titles;
    font-size: 2rem;
    padding: 6vw 10vh;
    margin: auto;
}
.col-membre {
    display: flex;
    .col {
        margin-left: 3vw;
    }
    .img-membre {
        margin-left: 6vw;
        text-align: end;
    }
    .text-membre {
        padding-left: 1vw;
        min-width: 30vw;
        max-width: 60vw;
        .name {
            color: $main-red;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 0;
        }
        .fonction {
            color: $main-red;
            font-size: 1rem;
            margin-top: -0.8vh;
        }
    }
    .presentation {
        min-width: 30vw;
        max-width: 60vw;
        margin-left: 25vw;
    }
    h1 {
        color: $main-red;
        font-family: "Pressura";
        font-weight: 100;
    }
}
#membre-types {
    display: flex;
    padding-left: 5vw;
    min-width: 25vw;
    margin-right: 2vw;
    text-align: start;
    .type {
        width: 11vw;
        margin: 0 0.6vw;
        thead {
            tr {
                text-transform: capitalize;
                text-align: start;
                font-family: $font-titles-regular;
                font-size: 1.1rem;
            }
            th {
                text-align: start;
            }
        }
        tbody {
            margin-top: 2vh;
            div {
                margin-top: 4vh;
            }
            td a {
                color: $main-red;
                font-family: $fact-font;
                font-size: 1.4rem;
                line-height: 1.1;
            }
        }
    }
}
// Spectacle catalogue

.container {
    .col-sm-11 {
        width: 84vw;
        .tableau {
            .row {
                border-collapse: collapse;
                font-size: 1.5rem;
                width: auto;
                border: none;
                border: 1.7px solid black;
                border-top: none;
                border-right: none;
                padding: 0 5vh 0 5vh;
                a {
                    &:hover {
                        text-decoration: none;
                        color: $main-red;
                    }
                }
                .titre {
                    color: black;
                    font-size: 3.2rem;
                    padding: 1vh 0.7vw 1vh 0;
                }
            }
        }
    }
    .imgCatalog {
        display: none;
        width: 65vw;
        text-align: end;
        position: absolute;
        right: 0;
        margin-top: 4.45rem;
    }
}
//Get Spectacle
.spectacle-header {
    margin-top: 23vh;
    img {
        width: 100vw;
    }
    .spectacle-titles {
        color: #ffffff;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        .big-title {
            max-width: 80vw;
            width: 80vw;
            position: relative;
            font-size: 14vw;
            font-family: $font-titles-bold;
            text-transform: uppercase;
            margin: auto;
            margin-top: 15%;
            text-align: center;
            line-height: 0.9;
        }
        .subtitle {
            position: relative;
            font-family: $font-titles;
            font-weight: 200;
            font-size: 2vw;
            margin: auto;
        }
    }
}
.col-sm-1 {
    display: flex;
    align-items: baseline;
    .vertical-title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-family: $font-titles;
        font-size: 5rem;
        font-weight: 100;
        text-transform: uppercase;
        z-index: 800;
        width: 5rem;
    }
    .subtitle {
        font-size: 1.4rem;
        text-transform: capitalize;
        margin-top: 0.5rem;
        color: $main-red;
        position: absolute;
        left: 6.3rem;
    }
}

.spectacle-text {
    margin-top: 0;
    .bloc-mob {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 0 0 10vh 0;
        color: $main-red;
        font-family: $font-titles-regular;
        .ext {
            max-width: 20vw;
            margin: 5vh 4vw;
            &.a {
                width: 23vw;
            }
            .vertical-title.red {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                font-family: $font-titles;
                font-size: 5rem;
                font-weight: 100;
                text-transform: uppercase;
                z-index: 800;
                width: 10vw;
                color: $main-red;
                margin: 0;
            }
            .shows {
                padding: 0 2vw 0 0;
                width: 19vw;
            }
            &.b {
                margin-right: 8vw;
            }
        }
        .status {
            font-size: 1.3rem;
            text-transform: capitalize;
            justify-content: space-between;
        }
        .middle-col {
            p {
                margin-bottom: 0;
            }
            .date {
                font-family: $fact-font;
                font-size: 1.8rem;
                margin-top: 0;
            }
            .description {
                text-indent: $indent;
                color: #000;
                font-weight: 100;
                font-family: $font-titles;
                font-size: 1.2rem;
            }
        }
    }

    .gallery {
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        padding: 0 2vw;
    }
}
.shows {
    padding: 0 2vw;
    font-family: "Junicode";
    text-align: center;
    margin-top: 20vh;
}
.generic {
    padding-left: 5vw;
    font-family: $fact-font;
    h2 {
        font-family: $font-titles;
        margin-bottom: 0;
    }
    p {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 1vh;
    }
}

// Agenda
.agenda-bloc {
    display: grid;
    grid-template-columns: repeat(3, 25vw [col-start]);
    justify-content: space-evenly;
    .agenda {
        color: $main-red;
        text-align: center;
        &.title {
            font-weight: 900;
            font-family: $font-titles-bold;
            font-size: 3vw;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &.author {
            font-family: $font-titles-regular;
            font-weight: 500;
            font-size: 1.5vw;
            margin-top: 0;
        }
        &.repres {
            color: $main-red;
            text-align: center;
        }
        &.dates {
            font-family: $fact-font;
            font-size: 2.8vw;
        }
        &.place {
            font-family: $font-titles-regular;
            font-weight: 500;
            font-size: 2vw;
            margin-top: 0;
        }
        .section {
            font-family: $fact-font;
            font-size: 2.8vw;
            svg {
                width: 25px;
            }
        }
    }
    hr {
        border: none;
        border-top: 2px solid #000000;
        color: #000000;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 22vw;
    }
}
//Contacts

.contacts {
    padding-left: 3vw;
    max-width: 90vw;
    p {
        font-size: 3.4rem;
        margin-top: 0;
        margin-bottom: 5vh;
        &:nth-child(2) {
            color: $main-red;
            font-family: $fact-font;
        }
    }
    .imgContacts {
        max-width: 50vw;
    }
}
///////////
//MOBILE///
//////////

//header
.catergories-btn {
    display: flex;
    justify-content: center;
    a {
        border: none;
        background: none;
        outline: none;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        padding: 0px 5px 0px 5px;
    }
}
header {
    height: 20vh;
    .inner-header {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-grey;
        .menu {
            padding-top: 1vh;
            align-self: center;
            text-align: center;
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-weight: 600;
            }
            .menuBtn {
                svg {
                    color: $main-red;
                    font-size: 2rem;
                }
            }
        }
    }
    // hamburger menu or navigation
    .hamburger-menu {
        display: none;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        .menu-secondary-background-color {
            background-color: #ffffff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        .menu-layer {
            position: relative;
            background: $main-grey;
            height: 100%;
            overflow: hidden;
            margin-top: 5.8rem;
        }
        .wrapper {
            position: relative;
            .menu-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                top: 8vh;
                padding-left: 5.5vw;
                nav {
                    display: block;
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            list-style: none;
                            font-size: 3.3rem;
                            font-weight: 500;
                            cursor: pointer;
                            height: 11vh;
                            overflow: hidden;
                            position: relative;
                            width: 700px;
                            a {
                                position: absolute;
                                color: $main-red;
                                text-decoration: none;
                                &:hover {
                                    color: $main-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 0;
        .row {
            padding-top: 0;
        }
        .agenda-bloc {
            margin-top: 0;
        }
    }
    //NAVBAR
    .head-logo {
        width: 16rem;
        margin-left: -9%;
        margin-top: 1vh;
    }
    header {
        display: block;
    }
    .navbar .row {
        margin-top: 21vh;
    }
    .navbar a.logo {
        font-size: 5rem;
    }
    .uk-navbar-nav > li > a > menu {
        font-size: 1rem;
    }

    .navbar {
        height: 10vh;
    }
    .navbar-collapse {
        display: none;
    }

    .sous-menu {
        display: none;
    }
    //wrapper
    .vertical-title {
        display: none;
    }
    .catalogue .col-sm-11 .tableau .row {
        width: 78vw;
    }
    .catalogue .col-sm-11 {
        margin-left: 3vw;
    }
    .breadcrumb {
        display: block;
        margin-top: 19vh;
        margin-left: 3vh;
        text-transform: capitalize;
        color: #ffffff;
    }
    //MEMBRES
    .member-container {
        margin-top: 20vh;
    }
    .row.col-membre {
        flex-direction: column;
        align-items: center;
        .img-membre {
            align-items: flex-start;
            order: 2;
            &img {
                width: 40vw;
            }
        }
        .text-membre {
            order: 2;
        }
        #membre-types {
            order: 3;
            padding: 0 2vw;
            margin-bottom: 7vh;
            .type {
                width: auto;
                text-align: start;
                tbody div {
                    margin-top: 2vh;
                }
            }
        }
        .presentation {
            margin: auto;
        }
    }
    .quote {
        margin: 5vw auto;
        font-size: 1.5rem;
    }

    //ACTU
    .bloc-actu .row {
        flex-direction: column;
        .widget {
            text-align: start;
            padding-left: 5vw;
            p {
                font-size: 0.9rem;
                line-height: .5;
            }
            .date {
                font-size: 1.4rem;
            }
        }
        .col {
            max-width: 100vw;
            .imgActu {
                width: 100%;
            }
        }
    }

    .contentActu {
        padding: 0 5vw 0 5vw;
    }

    //AGENDA
    .agenda-bloc {
        grid-template-columns: repeat(1, 60vw [col-start]);
    }
    .agenda-bloc {
        hr {
            width: 55vw;
        }
        .agenda.title {
            font-size: 8vw;
        }
        .agenda.author {
            font-size: 4vw;
        }
        .agenda.dates {
            font-size: 7.8vw;
        }
        .agenda.place {
            font-size: 5vw;
        }
    }
    // SPECTACLES

    .imgCatalog {
        display: none;
    }

    .container .col-sm-11 .tableau .row .titre {
        font-size: 2.3rem;
    }

    .container .col-sm-11 {
        margin-left: 3vh;
    }

    //GET SPECTACLES
    .spectacle-header {
        margin-top: 15vh;
        img {
            width: 100vw;
        }
        .spectacle-titles {
            top: 34%;
            .subtitle {
                font-size: 3vw;
                margin-top: 1vh;
            }
        }
    }
    .spectacle-text .bloc-mob {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        img {
            margin-bottom: 3vh;
        }
        .ext.a {
            width: auto;
        }
        .quote.shows {
            width: auto;
        }
    }
    .spectacle-text .row .ext {
        max-width: 100vw;
    }
    .a {
        order: 1;
    }
    .b {
        order: 3;
    }
    .middle-col {
        order: 2;
        .status {
            flex-direction: row;
            padding-left: 0 0;
        }
    }
    .spectacle-text .gallery img {
        height: 35vh;
    }
    //CONTACTS
    .container .contacts {
        flex-direction: column;
    }

    //////////
    //Tablet//
    //////////

    // @media (min-width: 569px) and (max-width: 1023px) {
    //     // body {
    //     //     margin: 0 3vw;
    //     // }
    // }

    // @media screen and (min-width: 1400px) {
    //     .container {
    //       width: 1370px;
    //     }
     
    //   }
    //   @media screen and (min-width: 1600px) {
    //     .container {
    //       width: 1570px;
    //     }
    //   }
    //   @media screen and (min-width: 1900px) {
    //     .container {
    //       width: 1870px;
    //     }
    //   }

    //CURSOR MOBILE
    .ring {
        display: none;
    }
    .dot {
        display: none;
    }
}

//Custom cursor
.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 2px solid $main-red;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 20ms;
    transition-duration: 20ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
}

.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: $main-red;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}

.ring.hovered {
    width: 90px;
    height: 90px;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
}

.dot.hovered {
    display: none;
}

//Carousel

.carousel.carousel-slider {
    width: 55% !important;
    margin: auto !important;
}

.carousel .control-dots {
    bottom: 0;
    display: none;
}
.carousel .carousel-status {
    display: none;
}

.carousel .slide img {
    vertical-align: middle !important;
    width: auto;
    &:hover {
        border: #eb1615 3px solid !important;
    }
}
.carousel.carousel-slider .control-arrow {
    height: 45%;
}
.carousel.carousel-slider .control-arrow:hover {
    background-color: transparent;
    background: none !important;
}

@media screen and (max-width: 576px) {
    .carousel.carousel-slider {
        width: 65% !important;
    }
}
