@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@font-face {
    font-family: "Junicode";
    src: url(../../public/junicode/Junicode-RegularCondensed.ttf) format("opentype");
}
@font-face {
    font-family: "Pressura";
    src: url(../../public/GT-Pressura/GT-Pressura-Light.ttf) format("opentype"),
        url(../../public/GT-Pressura/GT-Pressura-Bold.ttf) format("opentype");
}
@font-face {
    font-family: "Pressura-bold";
    src: url(../../public/GT-Pressura/GT-Pressura-Bold.ttf) format("opentype");
}

//couleurs
$main-red: #eb1615;
$main-grey: #e6e7e8;

//fonts
$fact-font: "Junicode", sans-serif;
$font-titles: "Pressura", sans-serif;
$font-titles-bold: "Pressura-bold", sans-serif;

html,
body {
    font-family: $font-titles;
    background-color: $main-grey;
    margin: 0;
}

a {
    text-decoration: none;
}
.uk-link,
a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: $font-titles;
}

#category {
    font-family: $fact-font;
    font-weight: 500;
}

#title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
}

#banner {
    margin: 20px;
    height: 800px;
}

#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

//NAVBAR

.navbar {
    position: fixed;
    display: -moz-box;
    width: 100%;
    height: 22vh;
    z-index: 990;
    top: 0;
    background-color: #ffffff;
    .row {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
    }
    button {
        text-decoration: none;
        border: none;
        color: #eb1615;
        background: none;
        font-size: 1rem;
        &:hover {
            text-decoration: underline !important;
            color: $main-red !important;
        }
    }
    a.logo {
        font-size: 7rem;
        margin: auto;
        color: $main-red;
        line-height: 0.5;
        &:hover {
            text-decoration: none;
        }
    }
}

.menu {
    position: relative;
    width: max-content;
    box-sizing: border-box;
    z-index: 990;
    margin: auto;
    margin-top: 2vh;
    color: $main-red;
    li {
        display: inline-block;
        padding: 0 1.7vw 0 1.7vw;
        a {
            color: $main-red;
            text-transform: capitalize;
            min-height: 0;
            font-family: $font-titles;
            &:hover {
                text-decoration: underline !important;
                color: $main-red !important;
            }
        }
    }
}
.active {
    text-decoration: underline !important;
    color: blue !important;
}

//HOMEPAGE
.container {
    max-width: 100%;
    height: auto;
    margin-top: 22vh;
    .row {
        display: flex;
        flex-direction: row;
        padding-top: 7vh;
        width: 100vw;
    }
    .alert {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-size: 4.5rem;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 800;
        width: 10vw;
        margin-left: 2vw;
    }
    .tableau {
        .row {
            border-collapse: collapse;
            font-size: 1.5rem;
            width: 80vw;
            border: none;
            border: 1.7px solid black;
            border-top: none;
            border-right: none;
            padding: 0 6px 0 6px;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .titre {
                color: black;
                padding-left: 0.7vw;
                font-size: 2.5rem;
            }
        }
    }
}

.imgHome {
    display: none;
    text-align: end;
    position: absolute;
    right: 0;
    margin-top: 8.6vh;
}

//Actu
.bloc-actu {
    .row {
        display: flex;
        justify-content: center;
        .widget {
            min-width: 15vw;
            padding-right: 3vw;
            color: $main-red;
            p {
                margin-top: 0.3vh;
                margin-bottom: 0;
            }
            .date {
                font-family: $fact-font;
                font-size: 1.8rem;
                margin-top: 0;
            }
        }
        .col {
            max-width: 40vw;
            .imgActu {
                width: 40vw;
                height: 35vh;
                border-width: 2px;
                border-style: solid;
                border-color: $main-red;
            }
            .titre {
                color: $main-red;
                font-family: $font-titles-bold;
                font-size: 2rem;
                text-transform: uppercase;
                margin-top: 2vh;
            }
            .subtitle {
                color: $main-red;
                font-family: $font-titles;
                margin-top: 1vh;
                line-height: 0.6;
            }
            .textArticle {
                text-indent: 3em;
                text-align: justify;
            }
        }
    }
}

//Contacts
.contacts {
    margin-top: 25vh;
    padding-left: 3vw;
    p {
        font-size: 3.4rem;
        margin-top: 0;
        margin-bottom: 5vh;
        &:nth-child(2) {
            color: $main-red;
            font-family: $fact-font;
        }
    }
}
//MOBILE

@media screen and (max-width: 576px) {
    .uk-navbar {
        flex-direction: column;
        min-height: 18vh;
    }
    .uk-navbar-nav > li > a.logo {
        font-size: 5rem;
    }
    .uk-navbar-nav > li > a > menu {
        font-size: 1rem;
    }
}
